  <header class="main-header">
    <div class="container">
      <div class="main-navigation">
        <nav id="navigation">
          <ul id="menu-header" class="menu sf-js-enabled">
            <li id="menu-item-1050" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1050">
              <a href="{{ site.baseurl}}/">
                Home
              </a>
            </li>
            <li id="menu-item-1057" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057">
              <a href="{{ site.baseurl }}/contact-us/">
                Contact Us
              </a>
            </li>
            <li id="menu-item-1059" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1059">
              <a href="{{ site.baseurl }}/shortcodes/">
                Shortcodes
              </a>
            </li>
            <li id="menu-item-384" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-384">
              <a class="sf-with-ul" href="#">
                Options Panel
                <span class="sf-sub-indicator">
                  »
                </span>
              </a>
              <ul style="display: none; visibility: hidden;" class="sub-menu sf-js-enabled">
                <li id="menu-item-1060" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1060">
                  <a href="{{ site.baseurl }}/options-panel/general-settings/">
                    General
                  </a>
                </li>
                <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052">
                  <a href="{{ site.baseurl }}/options-panel/styling/">
                    Styling
                  </a>
                </li>
                <li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051">
                  <a href="{{ site.baseurl }}/options-panel/single-post/">
                    Single
                  </a>
                </li>
                <li id="menu-item-1056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1056">
                  <a href="{{ site.baseurl }}/options-panel/importexport/">
                    Import/Export
                  </a>
                </li>
              </ul>
            </li>
            <li id="menu-item-1079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079">
              <a href="{{ site.baseurl }}/custom-widgets/">
                Widgets
              </a>
            </li>
            <li id="menu-item-1058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1058">
              <a href="{{ site.baseurl }}/full-width-page/">
                Full Width Page
              </a>
            </li>
            <li id="menu-item-383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-383">
              <a href="http://demo.mythemeshop.com/responsive/boxline.html">
                Responsive Test
              </a>
            </li>
          </ul>
          <form method="get" id="searchform" class="search-form" action="http://demo.mythemeshop.com/justblue"
          _lpchecked="1">
            <fieldset>
              <input name="s" id="s" onfocus="if(this.value=='Search this Site...')this.value='';"
              x-webkit-speech="" onwebkitspeechchange="transcribe(this.value)" type="text">
            </fieldset>
          </form>
          <!--#nav-primary-->
          <select>
            <option value="" selected="selected">
              Go to...
            </option>
            <option value="{{ site.baseurl }}/">
              Home
            </option>
            <option value="{{ site.baseurl }}/contact-us/">
              Contact Us
            </option>
            <option value="{{ site.baseurl }}/shortcodes/">
              Shortcodes
            </option>
            <optgroup label="Options Panel »">
              <option value="{{ site.baseurl }}/options-panel/general-settings/">
                - General
              </option>
              <option value="{{ site.baseurl }}/options-panel/styling/">
                - Styling
              </option>
              <option value="{{ site.baseurl }}/options-panel/single-post/">
                - Single
              </option>
              <option value="{{ site.baseurl }}/options-panel/importexport/">
                - Import/Export
              </option>
            </optgroup>
            <option value="{{ site.baseurl }}/custom-widgets/">
              Widgets
            </option>
            <option value="{{ site.baseurl }}/full-width-page/">
              Full Width Page
            </option>
            <option value="http://demo.mythemeshop.com/responsive/boxline.html">
              Responsive Test
            </option>
            <option value="{{ site.baseurl }}/">
              Home
            </option>
            <option value="{{ site.baseurl }}/category/apple/">
              Apple
            </option>
            <option value="{{ site.baseurl }}/category/google/">
              Google
            </option>
            <option value="{{ site.baseurl }}/category/facebook/">
              Facebook
            </option>
            <optgroup label="Options »">
              <option value="{{ site.baseurl }}/options-panel/general-settings/">
                - General Settings
              </option>
              <option value="{{ site.baseurl }}/options-panel/styling/">
                - Styling Options
              </option>
              <option value="{{ site.baseurl }}/options-panel/single-post/">
                - Single Post
              </option>
              <option value="{{ site.baseurl }}/options-panel/importexport/">
                - Import/Export
              </option>
            </optgroup>
            <option value="{{ site.baseurl }}/category/mobiles/">
              Mobiles
            </option>
            <option value="{{ site.baseurl }}/category/product-reviews/">
              Reviews
            </option>
            <option value="{{ site.baseurl }}/category/social-media/">
              Social Media
            </option>
            <option value="http://demo.mythemeshop.com/splash/">
              Home
            </option>
            <option value="{{ site.baseurl }}/contact-us/">
              Contact Us
            </option>
            <option value="{{ site.baseurl }}/custom-widgets/">
              Custom Widgets
            </option>
            <option value="{{ site.baseurl }}/shortcodes/">
              Shortcodes
            </option>
          </select>
        </nav>
      </div>
      <div id="header">
        <div class="content">
          <h1 id="logo">
            <a href="{{ site.baseurl }}/">
              数据科学沙龙
            </a>
          </h1>
          <!-- END #logo -->
          <div class="horisontal-header-banner">
            <div class="widget-area widget-header">
              <ul>
                <div class="textwidget">
                  <img src="{{ site.baseurl }}/assets/images/103642-1335226181.png">
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="secondary-navigation">
          <nav id="navigation">
            <ul id="menu-main-navigation" class="menu sf-js-enabled">
              <li id="menu-item-1040" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1040">
                <a href="{{ site.baseurl }}/">
                  Home
                </a>
              </li>
              <li id="menu-item-1043" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1043">
                <a href="{{ site.baseurl }}/category/apple/">
                  Apple
                </a>
              </li>
              <li id="menu-item-1042" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1042">
                <a href="{{ site.baseurl }}/category/google/">
                  Google
                </a>
              </li>
              <li id="menu-item-1045" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1045">
                <a href="{{ site.baseurl }}/category/facebook/">
                  Facebook
                </a>
              </li>
              <li id="menu-item-1047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1047">
                <a class="sf-with-ul" href="#">
                  Options
                  <span class="sf-sub-indicator">
                    »
                  </span>
                </a>
                <ul style="display: none; visibility: hidden;" class="sub-menu sf-js-enabled">
                  <li id="menu-item-1073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1073">
                    <a href="{{ site.baseurl }}/options-panel/general-settings/">
                      General Settings
                    </a>
                  </li>
                  <li id="menu-item-1074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1074">
                    <a href="{{ site.baseurl }}/options-panel/styling/">
                      Styling Options
                    </a>
                  </li>
                  <li id="menu-item-1075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1075">
                    <a href="{{ site.baseurl }}/options-panel/single-post/">
                      Single Post
                    </a>
                  </li>
                  <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102">
                    <a href="{{ site.baseurl }}/options-panel/importexport/">
                      Import/Export
                    </a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-1044" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1044">
                <a href="{{ site.baseurl }}/category/mobiles/">
                  Mobiles
                </a>
              </li>
              <li id="menu-item-1041" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1041">
                <a href="{{ site.baseurl }}/category/product-reviews/">
                  Reviews
                </a>
              </li>
              <li id="menu-item-1046" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1046">
                <a href="{{ site.baseurl }}/category/social-media/">
                  Social Media
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--#header-->
    </div>
    <!--.container-->
  </header>